{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block body %}

<div class="container mt-5">
    <h1>Update article</h1>

    <form method="post">
           <input style="width: 100%" type="text" name="title" id="title" class="from-control" value="{{ article.title }}" placeholder="Input name of article"><br>
            <textarea style="width: 100%" name="intro" id="intro" class="from-control" placeholder="Input anonce">{{ article.intro }} </textarea><br>
            <textarea style="width: 100%" name="text" id="text" class="from-control" placeholder="Input all text">{{ article.text }}</textarea><br>
            <input type="submit" class="btn btn-success" value="Update">
        </form>
</div>
{% endblock %}